<section >
  <h2>create new post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="content">content</label>
      <input class="initial-content-input" id="content" name="content" />
    </div>
    <button type="submit" class="btn">create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>your posts</h2>
  <div>
    {{#each posts as |post|}}
    <div>
      {{> post-data post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">edit post</a>
    </div>
    {{/each}}
  </div>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>